<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISChat">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8302/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISChat" contract="ServiceChat.ISChat" name="NetTcpBinding_ISChat">
                <identity>
                    <userPrincipalName value="DESKTOP-42SDU9E\maksy" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
<connectionStrings><add name="pratcya_uaEntities" connectionString="metadata=res://*/pratcyaUA.csdl|res://*/pratcyaUA.ssdl|res://*/pratcyaUA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-42SDU9E\SQLEXPRESS;initial catalog=pratcya_ua;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="pratcyaUAEntities1" connectionString="metadata=res://*/DataBase.DB_pratcyaUA.csdl|res://*/DataBase.DB_pratcyaUA.ssdl|res://*/DataBase.DB_pratcyaUA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-42SDU9E\SQLEXPRESS;initial catalog=pratcya_ua;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>